.row
  .col-lg-3.col-sm-6
    .smallchart.blue.box
      .title Featured Event
      .content
        %img.img-responsive(src="http://placehold.it/600x400")
      .value
        event1

  .col-lg-3.col-sm-6
    .smallchart.blue.box
      .title Featured Event
      .content
        %img.img-responsive(src="http://placehold.it/600x400")
      .value
        event1

  .col-lg-3.col-sm-6
    .smallchart.blue.box
      .title Featured Event
      .content
        %img.img-responsive(src="http://placehold.it/600x400")
      .value
        event1

  .col-lg-3.col-sm-6
    .smallchart.blue.box
      .title Featured Event
      .content
        %img.img-responsive(src="http://placehold.it/600x400")
      .value
        event1

.row
  .col-xs-12
    .box
      .box-header
        %h2
          %i.fa.fa-bar-chart-o
          Library Tweets for Today
      .box-content
        #today
          #graphToday
          %ul.stats
            %li
              %span= @total_tweets
              %h5 Total Tweets
            %li
              %span= @total_hashtags
              %h5 Hashtages
            %li
              %span= @total_mentions
              %h5 Mentions
            %li
              %span= @total_urls
              %h5 URLs

.row
  .col-xs-12.col-sm-6
    .box
      .box-header
        %h2
          %i.fa.fa-tag
          Hashtags trending today
      .box-content
        %table.table
          %thead
            %tr
              %th
                Hashtag
              %th
                Referenced
          %tbody
            - @hashtags.reverse[0..9].each do |hash|
              %tr
                %td= hash[0]
                %td= hash[1]

= high_chart("graphToday", Tweet.tweets_in_a_day_chart)