!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title Social-Biblio.ca

  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = csrf_meta_tag

%body
  %header.navbar
    .container
      %button.navbar-toggle{"data-target" => ".sidebar-nav.nav-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a#main-menu-toggle.hidden-xs.open
        %i.fa.fa-bars
      = link_to root_path, :class => "navbar-brand col-md-2 col-sm-1 col-xs-2" do
        = image_tag "canada.png", :width => 24
        %span Social-Biblio.ca
      = form_tag search_index_path, :method => :get do
        #search.col-sm-5.col-xs-8.col-lg-3.pull-right.hidden-xs
          %input{placeholder: "search", type: "text", name: "query"}
          %i.fa.fa-search

  .container
    .row
      #sidebar-left.col-lg-2.col-sm-1
        .sidebar-nav.nav-collapse.collapse.navbar-collapse
          %ul.nav.main-menu
            %li
              = link_to root_path do
                %i.fa.fa-dashboard
                %span.hidden-sm.text Dashboard
            %li
              = link_to events_path do
                %i.fa.fa-flask
                %span.hidden-sm.text Events
            %li
              %a.dropmenu{href: "#"}
                %i.fa.fa-area-chart
                %span.hidden-sm.text Stats
                %span.chevron.closed
              %ul#stats-links
                %li
                  %a.dropmenu{href: "#"}
                    %i.fa.fa-line-chart
                    %span.hidden-sm.text Over time
                    %span.chevron.closed
                  %ul
                    %li
                      = link_to stats_over_time_changes_in_followers_path , :class => "submenu" do
                        %i.fa.fa-user-plus
                        %span.hidden-sm.text Changes in followers
                    %li
                      = link_to stats_over_time_followers_path , :class => "submenu" do
                        %i.fa.fa-users
                        %span.hidden-sm.text Followers
                    %li
                      = link_to stats_over_time_mentions_path , :class => "submenu" do
                        %i.fa.fa-comments
                        %span.hidden-sm.text Mentions
                    %li
                      = link_to stats_over_time_tweets_path , :class => "submenu" do
                        %i.fa.fa-twitter
                        %span.hidden-sm.text Tweets
                %li
                  %a.dropmenu{href: "#"}
                    %i.fa.fa-pie-chart
                    %span.hidden-sm.text Ratios
                    %span.chevron.closed
                  %ul
                    %li
                      = link_to stats_ratios_hashtags_path , :class => "submenu" do
                        %i.fa.fa-tags
                        %span.hidden-sm.text Hastags
                    %li
                      = link_to stats_ratios_links_path , :class => "submenu" do
                        %i.fa.fa-link
                        %span.hidden-sm.text Links
                    %li
                      = link_to stats_ratios_mentions_path , :class => "submenu" do
                        %i.fa.fa-comments
                        %span.hidden-sm.text Mentions
                %li
                  %a.dropmenu{href: "#"}
                    %i.fa.fa-bar-chart
                    %span.hidden-sm.text Totals
                    %span.chevron.closed
                  %ul
                    %li
                      = link_to stats_totals_changes_in_followers_path , :class => "submenu" do
                        %i.fa.fa-user-plus
                        %span.hidden-sm.text Changes in followers
                    %li
                      = link_to stats_totals_mentions_path , :class => "submenu" do
                        %i.fa.fa-comments
                        %span.hidden-sm.text Mentions
                    %li
                      = link_to stats_totals_tweets_path , :class => "submenu" do
                        %i.fa.fa-twitter
                        %span.hidden-sm.text Tweets
            %li
              %a.dropmenu{href: "#"}
                %i.fa.fa-th-list
                %span.hidden-sm.text Ranking
                %span.chevron.closed
              %ul
                %li
                  = link_to ranking_by_followers_path, :class => "submenu" do
                    %i.fa.fa-users
                    %span.hidden-sm.text By Followers
                %li
                  = link_to ranking_by_mentions_path, :class => "submenu" do
                    %i.fa.fa-comments
                    %span.hidden-sm.text By Mentions
                %li
                  = link_to ranking_by_tweets_path, :class => "submenu" do
                    %i.fa.fa-twitter
                    %span.hidden-sm.text By Tweets
            %li
              = link_to archive_index_path do
                %i.fa.fa-archive
                %span.hidden-sm.text Archive
            %li
              = link_to about_index_path do
                %i.fa.fa-question
                %span.hidden-sm.text About
            %li
              = link_to contact_us_path do
                %i.fa.fa-send
                %span.hidden-sm.text Contact Us

      
      #content.col-lg-10.col-sm-11
        .row
          .col-sm-12.col-md-9
            %ol.breadcrumb
              - create_breadcrumbs(params[:controller]).each do |crumb|
                %li= crumb
        
            = yield

        #feed.col-md-3.visible-md.visible-lg
          %h2
            Most Recent Tweets
          %table
            -# Tweet.limit(10).each do |tweet|
              = render partial: "tweet", locals: {tweet: tweet}
